a {
    font-size: 18px;
}

.c-container {
    height: 200px;
}

.row-top {
    height: 176px;
    display: flex;
    flex-direction: row;
}
.row-top__col1 {
    width: 304px;
    background-color: #aaa;
}
.row-top__col2 {
    width: 100%;
}
.row-top__col2-row1 {
    height: 24px;
    background-color: #002245;
}
.row-top__col2-row2 {
    height: 152px;
    background-color: #2D6FAA;
}

.row-bottom {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #153B60;
}
a {
    color: #fff;
}